    body {
      font-family: 'Geist Pixel','Playpen Sans Hebrew', 'Roboto' system-ui, -apple-system, BlinkMacSystemFont, sans-serif, cursive;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      background-color: #1d2c5e /*#1e1321*/;
    }
    .container {
      width: 90%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      margin-top: 10px;
    }
    .title {
      font-size: 1.5rem;
      color: #ffcb05 /*#fff*/; /*yellow*/
      border: 5px solid #2a75bb /* attempting to give it it that blue pokemon border, was 2px*/
      font-weight: bold;
      margin-bottom: 5px;
    }
    .subtitle {
      font-size: 0.9rem;
      color: #ffcb05 /* #bca2eb */;
      margin-bottom: 15px;
    }
    .button-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      background-color: #f0ce4d/* #f4f2ff*/;
      border: 1px solid #3466af /* #3b2a80 */; 
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    button {
      width: 100px;
      padding: 5px;
      font-size: 14px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #ffcb05;
      color: #c7a008;
      font-family: 'Geist Pixel','Playpen Sans Hebrew', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    }
    button:hover {
      background-color: #1d2c5e /* #a67de8 */;
    }
    .number {
      flex-grow: 1;
      text-align: left;
      font-size: 14px;
      font-weight: bold;
      color:  #16131c;
      white-space: nowrap;
    }
    .number:empty::after {
      content: '\00a0';
    }
    @media (max-width: 768px) {
      button {
        width: 80px;
        font-size: 12px;
      }
    }
